.background{
  border: 1px solid black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 1520px;
  height: 700px;
}
/* .background-img{
  border: 1px solid black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 1520px;
  height: 700px;
} */
.carlogo{
  left: 90px;
  top:5px;
}
.project{
  /* border: 1px solid black; */
  background-color: white;
  width: 100%;
  height: 100px;
  /* z-index: 10; */
}
.project .carlogo{
  position:fixed;
  left: 20px;
}
.india{
  color: DimGray;
font-family: Arial, Helvetica, sans-serif;
position:fixed;
left: 90px;
top:5px;
font-size: 30px;
}
.carrental{
  color: DimGray;
font-family: Arial, Helvetica, sans-serif;
position:fixed;
left: 45px;
top:50px;
font-size: 20px;
}
.toplist{
  position:fixed;
  left: 310px;
  top: 73px;
  /* border: 1px solid black; */
  width: 57%;
  height: 30px;
  z-index: 10;
}
.toplist ul{
  list-style: none;
}
.toplist  a{
  text-decoration: none;
  color: white;
}
.toplist > ul{
  padding: 0;
  margin: 0;
  display: inline-block;
  background: LightSlateGrey;
  color: white;
}
.toplist > ul > li{
  position:relative;
  cursor: pointer;
  font-family:poppins;
  float:left;
  font-size: 14px;
  width:136px ;
  height: 31px;
  left: 0px;
  top:0px;
  line-height: 30px;
  text-align: center;
}.toplist li:hover {
  /* display: block; */
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  /* color: yellow; */
}
.toplist a:hover {
  /* display: block; */
  /* box-shadow: 0px 0px 10px rgba(0,0,0,0.5); */
  color: yellow;
}
/* .Toptelephone{
  position:fixed;
  left: 1110px;
  top: 50px;
  width: 200px;
} */
.telephone{
  position:fixed;
  left: 1250px;
  top: 60px;
width: 40px;
z-index: 10;
}
.numbers{
  position:fixed;
  left: 1300px;
  top: 45px;
  color: Grey;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  /* width: 50px; */
  z-index: 10;
}
.L{
  /* border: 1px solid black; */
  display: flex;
  position: absolute;
  left:600px;
  top: 200px;
  width: 300px;
  height: 360px;
  /* rgba(119,136,153,0.7) */
  background: lightblack;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.7);
}
/* .wheel_50px{
  width: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  transition: 200s; */
  /* animation: infinite linear; */
  /* transform: rotate(36000deg); */
/* } */

.Lgoogle{
  position: absolute;
  left: 60px;
  top: 20px;
  width: 35px;
}
.google{
  position: absolute;
  left: 105px;
  top: 28px;
  color: #3528F1;
  text-decoration: none;
}
.or{
  position: absolute;
  left: 25px;
  top: 50px;
  color: grey;

}

.phone_number{
  border: 1px solid #4B4B45 ;
  position: absolute;
  left: 25px;
  top: 100px;
  width: 250px;
  height: 30px;
  /* font-size: 15px; */
}

.full_name {
  border: 1px solid #4B4B45 ;
  position: absolute;
  left: 25px;
  top: 140px;
  width: 250px;
  height: 30px;
  /* font-size: 15px; */
}

.username{
  border: 1px solid #4B4B45 ;
  position: absolute;
  left: 25px;
  top: 180px;
  width: 250px;
  height: 30px;
  /* font-size: 15px; */
}

.password{
  border: 1px solid #4B4B45 ;
  position: absolute;
  left: 25px;
  top: 220px;
  width: 250px;
  height: 30px;
  /* font-size: 15px; */
}
.eye_open{
  position: absolute;
  top: 226px;
  left: 240px;
  width: 24px;
  display: none;
}
.eye_close{
  position: absolute;
  top: 226px;
  left: 240px;
  width: 24px;
}

.signup{
  /* border: 1px solid #4B4B45 ; */
  position: absolute;
  left: 25px;
  top: 260px;
  width: 250px;
  height: 30px;
  color: white;
  border: none;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  background-color:#4B4B45;
  /* font-size: 15px; */
  outline: none;
}
.ST{
  position: absolute;
  top: 285px;
  left: 45px;
  color:#717170;
}
.ST1{
  position: absolute;
  top: 300px;
  left: 45px;
  color:#03C1FC;
}
.ST2{
  position: absolute;
  top: 315px;
  left: 125px;
  color:#03C1FC;
}
.C{
  /* border: 1px solid black; */
  position: absolute;
  left:600px;
  top: 580px;
  width: 300px;
  height: 50px;
  /* rgba(119,136,153,0.7); */
  /* background:  */
  box-shadow: 0px 0px 30px rgba(0,0,0,0.7);
}
.Cd{
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  color:#4B4B45;
  position: absolute;
  left: 70px;
}
.Ca{
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color:#660FEC;
  position: absolute;
  left: 185px;
  top:15px;
  text-decoration: none;
}

.footer{
  /* border: 1px solid black; */
  position: absolute;
  top:700px;
  left: 0px;
  width: 100%;
  height: 150px;
  background-color: #2E2E2A;
}
